apps/gcl-create
apps/gdp-name-xlate
apps/gdp-rest
apps/log-view
apps/reader-test
apps/rw-bench
apps/writer-test
debian/libgdp*
lang/js/apps/gdpREST_server/node_modules
gdplogd/gdplogd
gdprouted/gdprouted
scgilib/helloworld
.DS_Store
tags
*.bak
*~
*.swp
*.o
*.a
*.so.*
!libs/*.a
!libs/*.so*
doc/*.pdf
