apps/gcl-create
apps/gdp-rest
apps/log-view
apps/reader-test
apps/rw-bench
apps/writer-test
gdplogd/gdplogd
gdprouted/gdprouted
debian/libgdp*
scgilib/helloworld
tags
*/tags
*.bak
*~
*.swp
*.o
*.a
*.so.*
!libs/*.a
!libs/*.so*
doc/*.pdf
