Package: PACKAGE
Version: VERSION
Priority: optional
Architecture: ARCH
Maintainer: Eric Allman <eric@cs.berkeley.edu>
Depends: libevent-dev (>= 2.0.5),
    libssl-dev (>= 1.0.1e),
    libjansson-dev (>= 2.3.1),
    libavahi-client-dev (>=0.6.31),
    libavahi-common-dev (>=0.6.31),
    avahi-daemon (>=0.6.31)
Description: Global Data Plane library
    C library for accessing the Global Data Plane. Also provides
    some basic client side control utilities
