Source: gdp
Section: unknown
Priority: optional
Maintainer: Eric Allman <eric@cs.berkeley.edu>
Build-Depends: debhelper (>= 8.0.0),
    libevent-dev (>= 2.0.5),
    libssl-dev (>= 1.0.1e),
    lighttpd (>= 1.4.31),
    libjansson-dev (>= 2.3.1)
Standards-Version: 3.9.4

Package: libgdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Global Data Plane library
    C library for accessing the Global Data Plane.  Includes Python
    language bindings.
